<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2007/07/10 14:05:36 fabianocruz Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://pnmp.sf.net/EZRealtime" 
       class = "br.ufam.pnmp.ezrealtime.EZRealtimePackage"
       genModel = "model/EZRealtime.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="ezrealtime" 
       class="br.ufam.pnmp.ezrealtime.util.EZRealtimeResourceFactoryImpl" />
  </extension>

</plugin>
